<div class="columns is-multiline">
    <div class="column post is-6">
        <article class="columns is-multiline">
            <div class="column is-12 post-img">
                <img src="./pic/Microbrew-Beer-Bucket-Gift-Basket-3-Beers_large.jpg" alt="Featured Image">
            </div>
            <div class="column is-12 featured-content">
                <h3 class="heading post-category">Category
                    Name</h3>
                <h1 class="title post-title">Beer Box 29.99$</h1>
                <p class="post-excerpt">Created in small
                    batches to achieve distinct, complex
                    flavors, delicious microbrews have
                    gained quite a following. And since
                    we're
                    crazy about unique tastes (as well as
                    beer) we decided our gift basket
                    collection couldn't possibly be complete
                    without a bucket of our favorite craft
                    brews. In our Microbrew Beer Bucket - 3
                    Beers gift, we've united some of our
                    favorite microbrews that are local to
                    our area, along with one from across the
                    country, and paired them with an
                    assortment of carefully chosen gourmet
                    snacks,
                    creating a special gift that is sure to
                    be appreciated!

                    *Beer glasses not included.</p>
                <br>
                <a href="#" class="button has-background-grey has-text-success-light">Subscribe</a>
            </div>
        </article>
    </div>
</div>