<div class="columns is-multiline">
    <div class="column post is-6">
        <article class="columns is-multiline">
            <div class="column is-12 post-img">
                <img src="./pic/Microbrew-Beer-Bucket-Gift-Basket-3-Beers_large.jpg" alt="Featured Image">
            </div>
            <div class="column is-12 featured-content">
                <h3 class="heading post-category">Category
                    Name</h3>
                <h1 class="title post-title">Beer Box 49.99$</h1>
                <p class="post-excerpt">When it comes to
                    microbrews, there are so many good
                    beers out there that it’s hard to
                    pick just one. So don’t pick one.
                    Pick
                    six! With our Beer Sampler Gift
                    Select gift basket, you will get six
                    microbrews. On top of these
                    fantastic beers, you’ll also get
                    delicious
                    snacks to enjoy with your Beer
                    Sampler Gift Select gift basket!
                    *Beer glasses not included.</p>
                <br>
                <a href="#" class="button has-background-grey has-text-success-light">Subscribe</a>
            </div>
        </article>
    </div>
</div>