<div class="columns is-multiline">
    <div class="column post is-6">
        <article class="columns is-multiline">
            <div class="column is-12 post-img">
                <img src="./pic/Microbrew-Beer-Bucket-Gift-Basket-3-Beers_large.jpg" alt="Featured Image">
            </div>
            <div class="column is-12 featured-content">
                <h3 class="heading post-category">Category
                    Name</h3>
                <h1 class="title post-title">Shit Load of Beer 99.99$</h1>
                <p class="post-excerpt">
                    Can't decide on what you want? Who said you can't have it all? With this box,
                    you get the best of all the worlds with all the different, delicious beers we offer. That's right!
                    Every micro brew we offer, you will get. And
                    did you ask about snacks? We have added a variety of snacks that compliment our brews to perfection.
                    Toss in our limited addition beer mugs
                    and you have the greatest beer box to have ever been concieved. All that's left to say is, Your
                    welcome.
                </p>
                <br>
                <a href="#" class="button has-background-grey has-text-success-light">Subscribe</a>
            </div>
        </article>
    </div>
</div>