<div id="customPage" class="columns">
    <div class="column is-4 is-offset-4">
        <div class="column is-12">
            <div class="field">
                <label class="label has-text-danger">Create a New Beer Box:</label>
            </div>

        </div>
        <div class="column is-12">
            <div class="field">
                <label class="label has-text-light">Box Name</label>
                <div class="control">
                    <input id="box-name" class="input" type="text">
                </div>
            </div>

        </div>

        <div class="column is-12">
            <div class="field">
                <label class="label has-text-light">Type your beers here:</label>
                <div class="control">
                    <textarea class="textarea" id="beer-names"></textarea>
                </div>
            </div>
        </div>

        <div class="column is-12">
            <button id="new-beer-form" type="submit" class="button is-danger">Submit</button>
        </div>

        {{!-- <form class="form new-beer-form">
            <div class="form-group">
                <label for="box-name">Box name:</label>
                <input class="form-input" type="text" id="box-name" name="project-name" />
            </div>
            <div class="form-group">
                <label for="beer-names">Type your beers here:</label>
                <textarea class="form-input" id="beer-names" name="project-desc"></textarea>
            </div>
        </form> --}}
    </div>
</div>
<script src="./js/customsubbox.js"></script>