{{log logged_in}}
<section class="hero is-medium" style="background-image:
    url(./pic/beers.jpg);">
    <div class="hero-head">

        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item">
                        <img src="./pic/Logo.jpg" alt="Logo">
                    </a>
                    <span class="navbar-burger" data-target="navbarMenuHeroA">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div id="navbarMenuHeroA" class="navbar-menu">
                    <div class="navbar-end">
                        <a class="navbar-item is-active">
                            Home
                        </a>
                        {{#if logged_in}}
                        <a class="navbar-item">
                            Inventory
                        </a>
                        <a class="navbar-item is-active">
                            Subscriptions
                        </a>
                        <span id="logoutSpan" class="navbar-item">
                            <a class="button is-primary
                                is-inverted">
                                <span class="icon">
                                    <i class="fab fa-github"></i>
                                </span>
                                <span>LogOut</span>
                            </a>
                        </span>
                        {{else}}
                        <span class="navbar-item">
                            <a href="/login" class="button is-primary
                                is-inverted">
                                <span class="icon">
                                    <i class="fab fa-github"></i>
                                </span>
                                <span id="login-btn">LogIn</span>
                            </a>
                        </span>
                        {{/if}}
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="hero-body">
        <div class="column has-text-centered">

            <h1>
                <span class="letter">Y</span>
                <span class="letter">O</span>
                <span class="letter">U</span>
                <span class="letter">R</span>
                <div id="space">.............
                </div>
                <span class="letter">B</span>
                <span class="letter">E</span>
                <span class="letter">E</span>
                <span class="letter">R</span>
                <div id="space">.............
                </div>
                <span class="letter">S</span>
                <span class="letter">T</span>
                <span class="letter">O</span>
                <span class="letter">P</span>
                <span class="letter">!</span>
            </h1>



        </div>
    </div>
</section>
<section class="blog-posts">
    <div class="container">
        <div class="columns">
            <div class="column is-10 is-offset-1">
                <div class="columns featured-post is-multiline">
                    <div class="column is-12 post">
                        <article class="columns featured">
                            <div class="column is-7 post-img">
                                <img src="./pic/Beer-Sampler-Gift-Select_large.jpg" alt="">
                            </div>
                            <div class="column is-5 featured-content va">
                                <div>
                                    <h3 class="heading post-category">Category
                                        Name</h3>
                                    <span class="beer">
                                        <h1 class="title post-title">The "Hefeweizen" Box</h1>
                                    </span>
                                    <p class="post-excerpt"> A take on the classic Hefeweizen with sweet and fruity
                                        notes. This box, of course, comes with a sampling pack of assorted
                                        Hefeweizens from around the World. A tall Weizen glass for the pour. And a bag
                                        of Large German pretzels.
                                        *Beer glasses not included.</p>
                                    <br>
                                    <a href="#" class="button
                                        has-background-grey
                                        has-text-success-light">Subscribe</a>
                                </div>

                            </div>
                        </article>
                    </div>
                </div>
                <hr>
                <div class="columns is-multiline">
                    <div class="column post is-6">
                        <article class="columns is-multiline">
                            <div class="column is-12 post-img">
                                <img src="./pic/Microbrew-Beer-Bucket-Gift-Basket-3-Beers_large.jpg"
                                    alt="Featured Image">
                            </div>
                            <div class="column is-12 featured-content">
                                <h3 class="heading post-category">Category
                                    Name</h3>
                                <h1 class="title post-title">The "Strong Mans Stout" Box</h1>
                                <p class="post-excerpt"> The Strong Mans Stout Box features an Oatmeal, Milk, and an
                                    Imperial stout. All three top-fermented and dark, guaranteed to be as strong as
                                    the men and women drinking them. Comes with a large glass Mug and German made steak
                                    seasoning.

                                    *Beer glasses not included.</p>
                                <br>
                                <a href="#" class="button
                                    has-background-grey
                                    has-text-success-light">Subscribe</a>
                            </div>
                        </article>
                    </div>
                    <div class="column post is-6">
                        <article class="columns is-multiline">
                            <div class="column is-12 post-img">
                                <img src="./pic/Twelve-Beer-Bucket-Gift-Basket_large.jpg" alt="Featured Image">
                            </div>
                            <div class="column is-12 featured-content">
                                <h3 class="heading post-category">Category
                                    Name</h3>
                                <h1 class="title post-title">The "I'll Pour Another IPA" Box$</h1>
                                <p class="post-excerpt">This IPA selection will have all beer drinkers saying "I'll Pour
                                    Another". With a selection of 4 different IPA's
                                    from around the World. A New England IPA with floral and spice notes. A West Coast
                                    IPA with citrus and tropical notes. A
                                    Hazy Ipa with full, up front, hoppy flavors. And a Session IPA with fruity and hoppy
                                    notes. The IPA box also comes with a Nucleated
                                    Speigelau glass and an at home Pizza recipe.</p>
                                <br>
                                <a href="#" class="button
                                    has-background-grey
                                    has-text-success-light">Subscribe</a>
                            </div>
                        </article>
                    </div>
                    <div class="column post is-4">
                        <article class="columns is-multiline">
                            <div class="column is-12 post-img">
                                <img src="https://cdn.emk.dev/templates/post-img.png" alt="Featured Image">
                            </div>
                            <div class="column is-12 featured-content">
                                <h3 class="heading post-category">Category
                                    Name</h3>
                                <h1 class="title post-title">Create your own Beer Box</h1>
                                <p class="post-excerpt">Do you already know what you want? Take the guesswork out of the
                                    equation and choose your own beer and add it to your custom box! Makes our job
                                    easier.
                                </p>
                                <br>
                                <a href="#" class="button
                                    has-background-grey
                                    has-text-success-light">Subscribe</a>
                            </div>
                        </article>
                    </div>
                    <div class="column post is-4">
                        <article class="columns is-multiline">
                            <div class="column is-12 post-img">
                                <img src="https://cdn.emk.dev/templates/post-img.png" alt="Featured Image">
                            </div>
                            <div class="column is-12 featured-content">
                                <h3 class="heading post-category">Category
                                    Name</h3>
                                <h1 class="title post-title">The "Aielmans Ale" Box</h1>
                                <p class="post-excerpt">The Aielmans Ale's, meant to quench your thirst in even the
                                    driest deserts. These 5 Ale's range from light to dark, from Pale Ale's to Brown.
                                    This Box comes with a pair of British Style Imperial Pint Glasses and a 10% off
                                    discount card to Bad Daddys Burger Bar.</p>
                                <br>
                                <a href="#" class="button
                                    has-background-grey
                                    has-text-success-light">Subscribe</a>
                            </div>
                        </article>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<script src="/js/home.js"></script>