{{log logged_in}}
<section class="blog-posts">
    <div class="container">
        <div class="columns">
            <div class="column is-10 is-offset-1">
                <div class="columns featured-post is-multiline">
                    <div class="column is-12 post">
                        <article class="columns featured">
                            <div class="column is-7 post-img">
                                <img src="./pic/Beer-Sampler-Gift-Select_large.jpg" alt="">
                            </div>
                            <div class="column is-5 featured-content va">
                                <div>
                                    <h3 class="heading post-category">Category
                                        Name</h3>
                                    <span class="beer">
                                        <h1 class="title post-title">The "Hefeweizen" Box</h1>
                                    </span>
                                    <p class="post-excerpt"> A take on the classic Hefeweizen with sweet and fruity
                                        notes. This box, of course, comes with a sampling pack of assorted
                                        Hefeweizens from around the World. A tall Weizen glass for the pour. And a bag
                                        of Large German pretzels.
                                        *Beer glasses not included.</p>
                                    <br>
                                    <a href="#" class="button
                                        has-background-grey
                                        has-text-success-light">Subscribe</a>
                                </div>

                            </div>
                        </article>
                    </div>
                </div>
                <hr>
                <div class="columns is-multiline">
                    <div class="column post is-6">
                        <article class="columns is-multiline">
                            <div class="column is-12 post-img">
                                <img src="./pic/Microbrew-Beer-Bucket-Gift-Basket-3-Beers_large.jpg"
                                    alt="Featured Image">
                            </div>
                            <div class="column is-12 featured-content">
                                <h3 class="heading post-category">Category
                                    Name</h3>
                                <h1 class="title post-title">The "Strong Mans Stout" Box</h1>
                                <p class="post-excerpt"> The Strong Mans Stout Box features an Oatmeal, Milk, and an
                                    Imperial stout. All three top-fermented and dark, guaranteed to be as strong as
                                    the men and women drinking them. Comes with a large glass Mug and German made steak
                                    seasoning.

                                    *Beer glasses not included.</p>
                                <br>
                                <a href="#" class="button
                                    has-background-grey
                                    has-text-success-light">Subscribe</a>
                            </div>
                        </article>
                    </div>
                    <div class="column post is-6">
                        <article class="columns is-multiline">
                            <div class="column is-12 post-img">
                                <img src="./pic/Twelve-Beer-Bucket-Gift-Basket_large.jpg" alt="Featured Image">
                            </div>
                            <div class="column is-12 featured-content">
                                <h3 class="heading post-category">Category
                                    Name</h3>
                                <h1 class="title post-title">The "I'll Pour Another IPA" Box$</h1>
                                <p class="post-excerpt">This IPA selection will have all beer drinkers saying "I'll Pour
                                    Another". With a selection of 4 different IPA's
                                    from around the World. A New England IPA with floral and spice notes. A West Coast
                                    IPA with citrus and tropical notes. A
                                    Hazy Ipa with full, up front, hoppy flavors. And a Session IPA with fruity and hoppy
                                    notes. The IPA box also comes with a Nucleated
                                    Speigelau glass and an at home Pizza recipe.</p>
                                <br>
                                <a href="#" class="button
                                    has-background-grey
                                    has-text-success-light">Subscribe</a>
                            </div>
                        </article>
                    </div>
                    <div class="column post is-4">
                        <article class="columns is-multiline">
                            <div class="column is-12 post-img">
                                <img src="./pic/Beer-Sampler-Gift-Select_large.jpg" alt="Featured Image">
                            </div>
                            <div class="column is-12 featured-content">
                                <h3 class="heading post-category">Category
                                    Name</h3>
                                <h1 class="title post-title">Create your own Beer Box</h1>
                                <p class="post-excerpt">Do you already know what you want? Take the guesswork out of the
                                    equation and choose your own beer and add it to your custom box! Makes our job
                                    easier.
                                </p>
                                <br>
                                <a href="/subscribe" id="custom-sub-box" class="button
                                    has-background-grey
                                    has-text-success-light">Subscribe</a>
                            </div>
                        </article>
                    </div>
                    <div class="column post is-4">
                        <article class="columns is-multiline">
                            <div class="column is-12 post-img">
                                <img src="./pic/Microbrew-Beer-Bucket-Gift-Basket-3-Beers_large.jpg"
                                    alt="Featured Image">
                            </div>
                            <div class="column is-12 featured-content">
                                <h3 class="heading post-category">Category
                                    Name</h3>
                                <h1 class="title post-title">The "Aielmans Ale" Box</h1>
                                <p class="post-excerpt">The Aielmans Ale's, meant to quench your thirst in even the
                                    driest deserts. These 5 Ale's range from light to dark, from Pale Ale's to Brown.
                                    This Box comes with a pair of British Style Imperial Pint Glasses and a 10% off
                                    discount card to Bad Daddys Burger Bar.</p>
                                <br>
                                <a href="#" class="button
                                    has-background-grey
                                    has-text-success-light">Subscribe</a>
                            </div>
                        </article>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {{#if projects.length}}
    <div class="col-md-6 project-list">
        <h3>Current boxes:</h3>

        {{#each projects as |project|}}
        <div class="row mb-2">
            <div class="col-md-8">
                <h4><a href="/project/{{project.id}}">{{project.box_name}}</a></h4>
            </div>
        </div>
        {{/each}}
    </div>
    {{/if}}
    </div>

</section>


<script src="/js/home.js"></script>