
<section class="hero is-medium" style="background-image:
    url(./pic/beers.jpg);">
    <div class="hero-head">

        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item">
                        <img src="./pic/Logo.jpg"
                            alt="Logo">
                    </a>
                    <span class="navbar-burger" data-target="navbarMenuHeroA">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div id="navbarMenuHeroA" class="navbar-menu">
                    <div class="navbar-end">
                        {{#if logged_in}}
                        <a class="navbar-item">
                            Inventory
                        </a>
                        <a class="navbar-item is-active">
                            Subscriptions
                        </a>
                        <span class="navbar-item">
                            <a class="button is-primary is-inverted">
                                <span class="icon">
                                    <i class="fab fa-github"></i>
                                </span>
                                <span>LogOut</span>
                            </a>
                        </span>
                        {{else}}
                        <a class="navbar-item is-active">
                            Home
                        </a>
                        {{/if}}
                        <a class="navbar-item">
                            Inventory
                        </a>
                        <span class="navbar-item">
                            <a href="/login" class="button is-primary
                                is-inverted">
                                <span class="icon">
                                    <i class="fab fa-github"></i>
                                </span>
                                <span id="login-btn">LogIn</span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="hero-body">
        <div class="column has-text-centered">

            <h1>
                <span class="letter">Y</span>
                <span class="letter">O</span>
                <span class="letter">U</span>
                <span class="letter">R</span>
                <div id="space">.............
                </div>
                <span class="letter">B</span>
                <span class="letter">E</span>
                <span class="letter">E</span>
                <span class="letter">R</span>
                <div id="space">.............
                </div>
                <span class="letter">S</span>
                <span class="letter">T</span>
                <span class="letter">O</span>
                <span class="letter">P</span>
                <span class="letter">!</span>
            </h1>



        </div>
    </div>
</section>
<section class="blog-posts">
    <div class="container">
        <div class="columns">
            <div class="column is-10 is-offset-1">
                <div class="columns featured-post is-multiline">
                    <div class="column is-12 post">
                        <article class="columns featured">
                            <div class="column is-7 post-img">
                                <img
                                    src="./pic/Beer-Sampler-Gift-Select_large.jpg"
                                    alt="">
                            </div>
                            <div class="column is-5 featured-content va">
                                <div>
                                    <h3 class="heading post-category">Category
                                        Name</h3>
                                    <span class="beer">
                                        <h1 class="title post-title">Beer
                                            Box 49.99$</h1>
                                    </span>
                                    <p class="post-excerpt">When it comes to
                                        microbrews, there are so many good
                                        beers out there that it’s hard to
                                        pick just one. So don’t pick one.
                                        Pick
                                        six! With our Beer Sampler Gift
                                        Select gift basket, you will get six
                                        microbrews. On top of these
                                        fantastic beers, you’ll also get
                                        delicious
                                        snacks to enjoy with your Beer
                                        Sampler Gift Select gift basket!
                                        *Beer glasses not included.</p>
                                    <br>
                                    <a href="#" class="button
                                        has-background-grey
                                        has-text-success-light">Read
                                        More</a>
                                </div>

                            </div>
                        </article>
                    </div>
                </div>
                <hr>
                <div class="columns is-multiline">
                    <div class="column post is-6">
                        <article class="columns is-multiline">
                            <div class="column is-12 post-img">
                                <img
                                    src="./pic/Microbrew-Beer-Bucket-Gift-Basket-3-Beers_large.jpg"
                                    alt="Featured Image">
                            </div>
                            <div class="column is-12 featured-content">
                                <h3 class="heading post-category">Category
                                    Name</h3>
                                <h1 class="title post-title">Beer Box 29.99$</h1>
                                <p class="post-excerpt">Created in small
                                    batches to achieve distinct, complex
                                    flavors, delicious microbrews have
                                    gained quite a following. And since
                                    we're
                                    crazy about unique tastes (as well as
                                    beer) we decided our gift basket
                                    collection couldn't possibly be complete
                                    without a bucket of our favorite craft
                                    brews. In our Microbrew Beer Bucket - 3
                                    Beers gift, we've united some of our
                                    favorite microbrews that are local to
                                    our area, along with one from across the
                                    country, and paired them with an
                                    assortment of carefully chosen gourmet
                                    snacks,
                                    creating a special gift that is sure to
                                    be appreciated!

                                    *Beer glasses not included.</p>
                                <br>
                                <a href="#" class="button
                                    has-background-grey
                                    has-text-success-light">Subscribe</a>
                            </div>
                        </article>
                    </div>
                    <div class="column post is-6">
                        <article class="columns is-multiline">
                            <div class="column is-12 post-img">
                                <img
                                    src="./pic/Twelve-Beer-Bucket-Gift-Basket_large.jpg"
                                    alt="Featured Image">
                            </div>
                            <div class="column is-12 featured-content">
                                <h3 class="heading post-category">Category
                                    Name</h3>
                                <h1 class="title post-title">Shit Load of
                                    Beer 99.99$</h1>
                                <p class="post-excerpt">Lorem ipsum dolor
                                    sit, amet consectetur adipisicing elit.
                                    Accusamus ratione harum eaque, animi
                                    nulla tempore quis, quam voluptatum.</p>
                                <br>
                                <a href="#" class="button
                                    has-background-grey
                                    has-text-success-light">Subscribe</a>
                            </div>
                        </article>
                    </div>
                    <div class="column post is-4">
                        <article class="columns is-multiline">
                            <div class="column is-12 post-img">
                                <img
                                    src="https://cdn.emk.dev/templates/post-img.png"
                                    alt="Featured Image">
                            </div>
                            <div class="column is-12 featured-content">
                                <h3 class="heading post-category">Category
                                    Name</h3>
                                <h1 class="title post-title">Slightly Longer
                                    Blog Post Title</h1>
                                <p class="post-excerpt">Lorem ipsum dolor
                                    sit, amet consectetur adipisicing elit.
                                    Accusamus ratione harum eaque, animi
                                    nulla tempore quis, quam voluptatum.</p>
                                <br>
                                <a href="#" class="button
                                    has-background-grey
                                    has-text-success-light">Subscribe</a>
                            </div>
                        </article>
                    </div>
                    <div class="column post is-4">
                        <article class="columns is-multiline">
                            <div class="column is-12 post-img">
                                <img
                                    src="https://cdn.emk.dev/templates/post-img.png"
                                    alt="Featured Image">
                            </div>
                            <div class="column is-12 featured-content">
                                <h3 class="heading post-category">Category
                                    Name</h3>
                                <h1 class="title post-title">Chose Your own</h1>
                                <p class="post-excerpt">Lorem ipsum dolor
                                    sit, amet consectetur adipisicing elit.
                                    Accusamus ratione harum eaque, animi
                                    nulla tempore quis, quam voluptatum.</p>
                                <br>
                                <a href="#" class="button
                                    has-background-grey
                                    has-text-success-light">Subscribe</a>
                            </div>
                        </article>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
