@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Nunito+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Play&display=swap");

.va {
  display: flex;
  align-items: center;
}

html {
  font-family: "Nunito Sans", sans-serif;
  color: white;
}

a {
  color: #3b7adf;
}

a:hover {
  text-decoration: underline;
  color: #3b7adf;
}

hr {
  background: #24272c;
}

#subtitle-1 {
  color: #060606;
}

.hero {
  background: #060606;
  background-image: url(/eComerce_Beer_Box/public/pic/beers-1283566_1280.jpg);
  background-size: 100% 100%;
}

.title,
.subtitle {
  color: white;
}

.letter {
  display: inline-block;
  opacity: 0;
  font-size: 150px;
  color: #b7ccdf;
  font-family: "Amatic SC", cursive;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-shadow: 0px 0px 6px;
}

div {
  display: inline-block;
}

.navbar .navbar-item {
  color: #89898b;
}

#space {
  opacity: 0;
}

.navbar .navbar-item.is-active {
  color: #8d8d91d0;
  font-weight: 700;
}

.navbar .navbar-item:hover {
  background: transparent;
  color: white;
}

.navbar .navbar-item a {
  margin-left: 1rem;
  color: #8a86c9;
}

.navbar-end {
  align-items: flex-end;
  margin-top: -50px;
}

.blog-posts {
  min-height: 100vh;
  background: #191b1f;
  padding-top: 4rem;
  padding-bottom: 10rem;
}

.blog-posts article {
  padding: 1.5rem;
}

.blog-posts .post img {
  border-radius: 6px;
}

.blog-posts .post .post-category {
  color: #3b7adf;
}

.blog-posts .post .post-title {
  font-size: 2.2rem;
}

.blog-posts .post .post-excerpt {
  line-height: 1.5rem;
  letter-spacing: 0.03rem;
  font-size: 1.2rem;
  font-family: "IBM Plex Serif", serif;
  color: #92a3ab;
}

.blog-posts .post .featured .featured-image img {
  height: 380px;
}
