@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Nunito+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Play&display=swap");

.va {
  display: flex;
  align-items: center;
}

html {
  font-family: "Nunito Sans", sans-serif;
  color: white;
}

a {
  color: #3b7adf;
}

a:hover {
  text-decoration: underline;
  color: #3b7adf;
}

hr {
  background: #24272c;
}

#subtitle-1 {
  color: #060606;
}

.hero {
  background: #060606;
  background-size: 100% 100%;
}

.title,
.subtitle {
  color: white;
}

.letter {
  display: inline-block;
  opacity: 0;
  font-size: 150px;
  color: #b7ccdf;
  font-family: "Amatic SC", cursive;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-shadow: 0px 0px 6px;
}

div {
  display: inline-block;
}

.navbar .navbar-item {
  color: #89898b;
}

#space {
  opacity: 0;
}

.navbar .navbar-item.is-active {
  color: #8d8d91d0;
  font-weight: 700;
}

.navbar .navbar-item:hover {
  background: transparent;
  color: white;
}

.navbar .navbar-item a {
  margin-left: 1rem;
  color: #8a86c9;
}

.blog-posts {
  min-height: 100vh;
  background: #191b1f;
  padding-top: 4rem;
  padding-bottom: 10rem;
}

.blog-posts article {
  padding: 1.5rem;
}

#customPage {
  background: #191b1f
}

.blog-posts .post img {
  border-radius: 6px;
}

.blog-posts .post .post-category {
  color: #3b7adf;
}

.blog-posts .post .post-title {
  font-size: 2.2rem;
}

.blog-posts .post .post-excerpt {
  line-height: 1.5rem;
  letter-spacing: 0.03rem;
  font-size: 1.2rem;
  font-family: "IBM Plex Serif", serif;
  color: #92a3ab;
}

.blog-posts .post .featured .featured-image img {
  height: 380px;
}

@import url("https://rsms.me/inter/inter-ui.css");
::selection {
  background: #2d2f36;
}
.page {
  font-family: "Inter var", sans-serif;
}

::selection {
  background: #2d2f36;
}
::-webkit-selection {
  background: #2d2f36;
}
::-moz-selection {
  background: #2d2f36;
}
.wrapper {
  background: white;
  font-family: "Inter UI", sans-serif;
  margin: 0;
  padding: 20px;
}
.page.login-page {
  background: #e2e2e5;
  display: flex;
  flex-direction: column;
  height: calc(100% - 40px);
  position: absolute;
  place-content: center;
  width: calc(100% - 40px);
}
@media (max-width: 767px) {
  .page.login-page {
    height: auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}
.login-page > .container {
  display: flex;
  height: 320px;
  margin: 0 auto;
  width: 640px;
}
@media (max-width: 767px) {
  .login-page > .container {
    flex-direction: column;
    height: 630px;
    width: 320px;
  }
}
.left {
  background: white;
  height: calc(100% - 40px);
  top: 20px;
  position: relative;
  width: 50%;
}
@media (max-width: 767px) {
  .left {
    height: 100%;
    left: 20px;
    width: calc(100% - 40px);
    max-height: 270px;
  }
}
.login {
  font-size: 50px;
  font-weight: 900;
  margin: 50px 40px 40px;
}
.eula {
  color: #999;
  font-size: 14px;
  line-height: 1.5;
  margin: 40px;
}
.right {
  background: #474a59;
  box-shadow: 0px 0px 40px 16px rgba(0, 0, 0, 0.22);
  color: #f1f1f2;
  position: relative;
  width: 50%;
}
@media (max-width: 767px) {
  .right {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    max-height: 350px;
  }
}
svg.login-svg {
  position: absolute;
  width: 320px;
}
path {
  fill: none;
  stroke: url(#linearGradient);
  stroke-width: 4;
  stroke-dasharray: 240 1386;
}
.form.login-page-form {
  margin: 40px;
  position: absolute;
}
.login-page label {
  color: #c2c2c5;
  display: block;
  font-size: 14px;
  height: 16px;
  margin-top: 20px;
  margin-bottom: 5px;
}
.login-page input {
  background: transparent;
  border: 0;
  color: #f2f2f2;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  outline: none !important;
  width: 100%;
}
.login-page input::-moz-focus-inner {
  border: 0;
}
.login-page #submit {
  color: #707075;
  margin-top: 40px;
  transition: color 300ms;
}
.login-page #submit:focus {
  color: #f2f2f2;
}
.login-page #submit:active {
  color: #d0d0d2;
}
